.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 95vh;
}

.memory{

    max-width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.explaination{
    margin: 2vw;
}

.hangman{

    max-width: 50vh;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}


.cardgrid{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
    
}

.cardgridsimple{
    
    display: flex;
    flex-wrap: wrap;
}


.keyboard{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}