.App {
  
  text-align: center;
  vertical-align: center;
  background-color:  rgb(2, 4, 29);
}

.dark{

  color: white;
  background-color: rgb(6, 6, 20);

}

.magenta {
  color: white;
  background-color: rgb(255, 0, 157);
}



.filler{
  height: 90vh  ;
}

