.App {
  
  text-align: center;
  vertical-align: center;
  background-color:  rgb(2, 4, 29);
}


table, th, td {
  background-color:  rgb(11, 11, 27);
}

.round{

  border-radius: 2vmin;
  padding: 1vmin;
}

.dark{
  
  color: white;
  background-color: rgb(11, 11, 27);

}

.darksection{
  color: white;
  background-color: rgb(30, 18, 99);
}

.magenta {
  color: white;
  background-color: rgb(255, 0, 157);
}

.wide{
  width: 100%;
}

.filler{
  height: 90vh  ;
}

